html, body {
	font-size:12px; 
	line-height:18px;
	height: 95%;
	width: 100%;
 }

body {
	background: #fff;
}

.nav-item.active{
	border-bottom: 0.1px solid #000000;
}

.main-container {
	height:auto; 
	height: 100%;
	min-height: 100%;
}

@media (max-width: 767px) {
  body { padding-right: 0px; padding-left: 0px; }
  .container {margin-right: 20px; margin-left: 20px;}
 }


.col-center {
	display: inline-block;
}


h2, h6,  {
	font-family: "Raleway", sans-serif; 
	font-weight: normal; 
	margin-left: 280px;
}	

h4 {
	font-family: "Karla", sans-serif;
	color: grey;
	font-weight: lighter;
	margin-top: 50px;
}

h5 {
	font-family: "Karla", sans-serif;
	color: grey;
	font-size: 20px;
	font-weight: lighter;
}

h6 {
	font-family: "Karla", sans-serif;
	color: grey;
	font-size: 20px;
	font-weight: lighter;
}

h3 {
	font-family: "Karla", sans-serif;
	font-weight: lighter;
	line-height: 1.4;
}
 
h1 {
	font-family: "Karla", sans-serif;
	font-weight: bolder;
	line-height: 0.2;
}


h1.title-bg, h2.title-bg, h3.title-bg, h4.title-bg , h5.title-bg, h6.title-bg {
	background:#fff; 
	padding:5px 5px;
	margin: 20px 10px 0px 0px;
	/*border-bottom: 1px solid #000;*/
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color:#7f7f7f;}
h2 small {font-size: 30px;}
h5 small {font-size: 14px;}
h6 small {font-size: 12px;}

h5.title-bg button {
	float: right; 
	text-transform: none;
	margin-left:5px;
}

/***** Links *****/

a, a:hover { 
	color: #33375A;
}

/***** Misc *****/
i {margin-right: 3px;}
p {margin-bottom: 20px;}
blockquote {
	font-size:16px; 
	line-height:24px; 
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-style:italic;
	border-left: 5px solid #999;
}
blockquote.pull-right {border-right: 5px solid #999;}


.row {margin-bottom:30px;}
.sub-row30 {margin-bottom:30px;}
.sub-row20 {margin-bottom:20px;}
.no-margin {margin-bottom:0px;}

a.accordion-toggle{background: #f5f5f5;}
.nav-tabs li.active a{background:#f8f8f8;}

@media only screen and  (max-width: 767px) {
	.btn {margin-bottom: 20px;}
}

.left {float: left;}
.right {float: right;}
.align-left{float: left; margin: 0px 20px 20px 0px;}
.align-right{float: right; margin: 0px 0px 20px 20px;}

.color-bg { background:#292783; }
.color { color:#292783; }
.color-bar { width:100% }
.color-bar { background: linear-gradient(to right, #FF9933 0%, #FF9933 33%, #fcfcfc 33%, #fcfcfc 66%, #138808 66%, #138808 100%); height:5px; position: fixed; z-index: 100; }
.page-header { margin:0px }
.lead {line-height:28px; margin: 20px 0px 30px 0px; }

#toTop {
	width:47px;
	height:47px;
	background:url(../img/back-top-btn.png) no-repeat;
	text-align:center;
	position:fixed;
	bottom:25px;
	right:20px;
	cursor:pointer;
	display:none;
	text-indent:-9999px;
	z-index:12; 
}



