body {
    background-color: #ffffff;
    line-height: 25px;
    font-family: "karla", sans-serif;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    'header header header' 
    'left right right' 
    'footer footer footer';
}

.right {
    grid-area: right;
    padding-left: 70px;
    padding-right: 50px;
    margin-top: 450px;
}


.middle {
    grid-area : middle;
}

.left {
    grid-area: left;
    padding-left: 70px;
}

.role {
    margin-top: 500px; 
  
    padding-top:20px;
    padding-bottom: 20px;
}

.tp {
    border-top: 1px solid lightgrey;
    padding-top : 25px;
}

.btm {
    border-bottom: 1px solid lightgrey;
    padding-bottom : 25px;
}

.image {
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}

h2, h3, h4, h6 {
    line-height: 20px;
    margin: 4px;
    font-family: "minion-pro", "karla", sans-serif;
}

h4{
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;

}

h1 {
    font-size: 45px;
    font-family: "minion-pro-condensed-subhead", sans-serif;
    font-weight: 700;
}

blockquote{
    font-family: "minion-pro-subhead", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 10px;
}